@use './colors' as color;

.background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: color.$model-bg;
}


.model{
  position: fixed;
  box-shadow: 0 0 2rem gray;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 350px;
  z-index: 3;
  background-color: #ffffff;
}